.panel-background {
  background: url("~/src/assets/background.svg");
  width: 100%;
  height: 593px;
  display: flex;
  align-items: center;
  justify-content: center;

  .panel-text {
    max-width: 467px;
    .ant-typography {
      margin-bottom: 32px;
    }
  }
}
.promo-section {
  background: linear-gradient(to bottom, transparent 50%, transparent 50%, #000000 50%);
  article {
    color: white;
    font-size: 38px;
    line-height: 46px;
    margin-bottom: 24px;
    &.first-text {
      margin: 0;
    }
  }
}
.mbe-0 {
  margin-block-end: 0;
}